{% sw_extends '@Storefront/storefront/page/account/order-history/order-item.html.twig' %}

{% block page_account_order_item_order_table_body_cell_shipping_method %}
    {% set hasDelivery = order.deliveries|length > 0 or order.primaryOrderDelivery %}
    {% if hasDelivery or order.customFields.sw6_clickcollect_is_pickup %}
        <div class="col-12 col-sm order-table-header-order-table-body-cell">
            <strong class="order-table-header-label">
                {{ 'account.orderShippingMethod'|trans|sw_sanitize }}{{ 'account.colonCharacter'|trans|sw_sanitize }}
            </strong>
            {% if order.customFields.sw6_clickcollect_is_pickup %}
                <span class="order-table-body-value">
                    {{ order.customFields.sw6_clickcollect_shipping_method_name|default('Abholung im Store') }}
                    {% if order.customFields.sw6_clickcollect_timeslot %}
                        <br><small class="text-muted">{{ order.customFields.sw6_clickcollect_timeslot }}</small>
                    {% endif %}
                </span>
            {% elseif hasDelivery %}
                {% if feature('v6.8.0.0') %}
                    <span class="order-table-body-value">{{ order.primaryOrderDelivery.shippingMethod.translated.name }}</span>
                {% else %}
                    <span class="order-table-body-value">{{ order.deliveries|first.shippingMethod.translated.name }}</span>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
